.card-list {
  margin-bottom: 10px;

  .card-image {
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 20vh;
  }

  .card-body {
    font-weight: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color: #0c0d36;
  }
}
